.editBlogHeading {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
}

.labelAndInputCont {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: .5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.titleInput {
  font-size: 2rem;
  padding: .5rem 1rem;
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid rgba(245, 245, 245, 0.486);
  border-radius: 15px;
  text-align: center;
}

.blogErrMsgsUl {
  padding: 0 2rem;
  margin: 1rem 0;
}


.postErrMsg {
  margin: 1rem 0;
  text-align: center;
}

.checkboxAndLabelCont {
  display: flex;
  justify-content: flex-end;
  gap: .7rem;
  font-size: 1.5rem;
  align-items: center;
  margin-top: 1rem;
}

.checkboxAndLabelCont input[type=checkbox] {
  transform: scale(1.5);
}

.submitBtnCont {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
}

.checkboxAndLabelCont input, .checkboxAndLabelCont label {
  cursor: pointer;
}

.postBlogBtn {
  padding: .5rem 1rem;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 650;
  cursor: pointer;
}