.errorPageCont {
}

.errorMsgContainer {
  margin: 5rem;
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 500px) {
  .errorPageCont {
    width: 100%;
  }

  .errorMsgContainer {
    font-size: 1em;
  }
  
}