.navBarCont {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  padding: 1rem;
}

.sideBarBtnStyle {
  justify-self: start;
}

.linksCont {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sideBarBtn {
  position: absolute;
  left: 1rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .linksCont {
    display: none;
  }
}